
# These files are text and should be normalized (Convert crlf => lf)

## SOURCE CODE
*.bat    text
*.coffee text
*.css    text
*.htm    text
*.html   text
*.inc    text
*.ini    text
*.js     text
*.json   text
*.less   text
*.php    text
*.pl     text
*.py     text
*.rb     text
*.sass   text
*.scm    text
*.scss   text
*.sh     text
*.sql    text
*.styl   text
*.ts     text
*.xml    text
*.xhtml  text

## DOCUMENTATION
*.markdown   text
*.md         text
*.mdwn       text
*.mdown      text
*.mkd        text
*.mkdn       text
*.mdtxt      text
*.mdtext     text
*.txt        text
AUTHORS      text
CHANGELOG    text
CHANGES      text
CONTRIBUTING text
COPYING      text
INSTALL      text
license      text
LICENSE      text
NEWS         text
readme       text
*README*     text
TODO         text

## TEMPLATES
*.dot        text
*.ejs        text
*.haml       text
*.handlebars text
*.hbs        text
*.hbt        text
*.jade       text
*.latte      text
*.mustache   text
*.phtml      text
*.tmpl       text

## LINTERS
.csslintrc    text
.eslintrc     text
.jscsrc       text
.jshintrc     text
.jshintignore text
.stylelintrc  text

## CONFIGS
*.bowerrc      text
*.cnf          text
*.conf         text
*.config       text
.editorconfig  text
.gitattributes text
.gitconfig     text
.gitignore     text
.htaccess      text
*.npmignore    text
*.yaml         text
*.yml          text
Makefile       text
makefile       text

# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text=auto

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary

# Documents
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
